body{
	font-family: Arial;
	background-image: url(img/valley.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#main{
	width: 90%;

}

#header{
	text-align: center;

}

#content{
	padding: 0 30px 30px 30px;
	font-size: 20px;
}

#side-menu{
	width: 150px;
}

#lower{
	display: flex;
}

.buttonLarge{
	width:150px;
	height: 50px;
	background-color: #B0A74A;

}
.buttonSmall{
	width:125px;
	height: 40px;
	float: right;
	background-color: #FAF18C;
}

.hidden{
	display: none;
}

.visible{

}

img{
	border: 2px solid brown;
	height: 600px;
	width: 900px;
}
